/* _functions.scss */
@use 'sass:math';
@use 'sass:meta';

@function strip-unit($value) {
  @if meta.type-of($value) == 'number' and not math.is-unitless($value) {
    @return math.div($value, ($value * 0 + 1));
  }
  @return $value;
}

@function rem($px, $base: 16px) {
  $px-val: strip-unit($px);
  $base-val: strip-unit($base);
  @return math.div($px-val, $base-val) * 1rem;
}

@function lh($font-size, $line-height) {
  @return math.div(strip-unit($line-height), strip-unit($font-size));
}

@function fluid($min, $max, $min-vw: 360px, $max-vw: 1440px) {
  $min-val: strip-unit($min);
  $max-val: strip-unit($max);
  $min-vw-val: strip-unit($min-vw);
  $max-vw-val: strip-unit($max-vw);

  $slope: math.div(($max-val - $min-val), ($max-vw-val - $min-vw-val));
  $intercept: $min-val - ($slope * $min-vw-val);

  @return clamp(
    rem($min),
    calc(#{rem($intercept * 1px)} + #{$slope * 100}vw),
    rem($max)
  );
}
