@use "sass:math";

$base-size: 16px;

// Function to convert px to rem
@function rem($pixels) {
  // divide($dividend, $divisor)
  $normalized: math.div($pixels, ($pixels * 0 + 1));
  @return math.div($normalized, 16) * 1rem;
}

// Function for line-height
@function lh($font-size, $line-height) {
  @return math.div($line-height, $font-size);
}