// 1. Config (Must be first)
// Notice the path: ./styles/...
@use './styles/functions' as func;
@use './styles/variables' as vars;
@use './styles/mixins' as mix;

// 2. External
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// 3. Reset
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  background-color: vars.$bg-color;
  color: vars.$text-primary;
  font-family: vars.$font-family-main;
  overflow: hidden;

  @include mix.font-setting(16px, 24px);
}

// 4. Material Overrides
.mat-mdc-raised-button.mat-primary, 
.mat-mdc-fab.mat-primary, 
.mat-mdc-mini-fab.mat-primary {
  --mdc-protected-button-container-color: #{vars.$poalim-red} !important;
  --mdc-protected-button-label-text-color: white !important;
  --mdc-fab-container-color: #{vars.$poalim-red} !important;
}

// 5. Utils
.text-poalim { color: vars.$poalim-red !important; }
.bg-poalim   { background-color: vars.$poalim-red !important; }

.page-layout {
  @include mix.flex-col;
  height: 100%;
  padding: func.rem(16px);
  
  @include mix.tablet {
    padding: func.rem(32px);
  }
}