@use '../styles/variables' as vars;
@use '../styles/mixins' as mix;

app-root {
  .app-shell {
    min-height: 100dvh;
    color: vars.$text-color;

    &__container {
      // Put plain declarations BEFORE nested rules to avoid Sass mixed-decls deprecation.
      padding-top: vars.$space-5;
      padding-bottom: vars.$space-5;

      @include mix.container;
    }

    &__header {
      padding-bottom: vars.$space-3;
    }

    &__title {
      margin: 0;
      text-align: center;
    }
  }
}
